#myButton_gray{
    background-color: #121212;
    color:white;
}

#myButton_gray:disabled *{
    background-color: #121212;
    color:white;
}

#myButton_red{
    background-color: #cf6679;
    color:black;
}
#myButton_red:disabled *{
	background-color: #cf6679;
	color:black;
}

#myButton_white{
    background-color: #ffa473;
    color:black;
}
#myButton_white:disabled *{
	background-color: #ffa473;
	color:black;
}

#myButton_blue{
    background-color: #03dac6;
    color:black;
}

#myButton_blue:disabled *{
	background-color: #03dac6;
	color:black;
}

#backgroundApp{
	background: #121212;
	font-family: "Roboto";
	
}



.buttonInicio{
	background: #1f1f1f;
	margin-bottom: 2px;
	color: #FFFFFF;
	border-style: none;
}


.panelInicio{
	padding-left:50px;
	padding-right:50px;
	padding-top: 20px;
}
