#myButton_gray{
    background-color: #212121;
    color:white;
}

#myButton_gray:disabled *{
    background-color: #212121;
    color:white;
}

#myButton_gray2{
    background-color: #212121;
    color:white;
}

#myButton_gray2:disabled *{

}

#myButton_red{
    background-color: #cf6679;
    color:black;
}
#myButton_red:disabled *{
	background-color: #cf6679;
	color:black;
}

#myButton_white{
    background-color: #ffa473;
    color:black;
}
#myButton_white:disabled *{
	background-color: #ffa473;
	color:black;
}

#myButton_orange{
    background-color: #ffa473;
    color:black;
}
#myButton_orange:disabled *{
	background-color: #ffa473;
	color:black;
}

#myButton_blue{
    background-color: #03dac6;
    color:black;
}

#myButton_blue:disabled *{
	background-color: #03dac6;
	color:black;
}
#myButton_labels{
	background-color: #4a4a4a;
	color:white;
}
#myButton_labels:disabled *{
	background-color: #4a4a4a;
	color:white;
}

.label{
	color:white;
}

#backgroundApp{
	background: #121212;
	font-family: "Roboto";
	
}

#consolaEditada{
	background-color: #212121;
	color:#212121;
	background: #212121;
	border-style: none;
}

.buttonInicio{
	background: #1f1f1f;
	margin-bottom: 2px;
	color: #FFFFFF;
	border-style: none;
}

.consolaEditada text {
    background-color: #212121;
    font-size: 19px;
    border-style: none;
}

.panelInicio{
	padding-left:50px;
	padding-right:50px;
	padding-top: 20px;
}
